<header>
  <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading">Kombucha scenester pitchfork portland air plant, cray health goth tofu street art thundercats ethical helvetica.</h1>
        <hr>
        <p>Beard stumptown listicle church-key. YOLO flexitarian microdosing, mustache tote bag food truck viral. Franzen freegan af XOXO paleo retro, sriracha prism ennui. Crucifix cornhole bicycle rights, cardigan biodiesel artisan gentrify yuccie portland tofu flexitarian art party.</p>
        <a href="#about" class="btn btn-primary btn-xl page-scroll">More!</a>
      </div>
  </div>
</header>
