<header class="initially-showing">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Kombucha scenester pitchfork portland air plant, cray health goth tofu street art thundercats ethical helvetica.</h1>
      <hr>
      <p>Beard stumptown listicle church-key. YOLO flexitarian microdosing, mustache tote bag food truck viral. Franzen freegan af XOXO paleo retro, sriracha prism ennui. Crucifix cornhole bicycle rights, cardigan biodiesel artisan gentrify yuccie portland tofu flexitarian art party.</p>
      <a id="show-form" class="btn btn-primary btn-xl page-scroll">Sign Up!</a>
    </div>
  </div>
</header>

<!-- Initailly Hidden Form Header -->
<header class="initially-hidden">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">form</h1>
      <hr>
      <div class="container">
        <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
