<div class="row">
  <div class="col-sm-2">
    <nav class="navbar navbar-light navbar-static bg-faded">
      <ul class="navbar-side" id="navbarSide">
          <h2 class="navbar-side-item">Archives</h2>
          <ul>
            <li class="side-link">March 2017</li>
            <li class="side-link">March 2017</li>
            <li class="side-link">March 2017</li>
            <li class="side-link">March 2017</li>
            <li class="side-link">March 2017</li>
            <li class="side-link">March 2017</li>
            <li class="side-link">March 2017</li>
            <li class="side-link">March 2017</li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

  <div class="col-sm-10" id="sidebar-padding">
    <header class="col-sm-10">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">Blog</h1>
          <hr>
          <div class="blog-content">
            <h1>Stumptown</h1>
            <p>March 10, 2017</p>
            <p id="content">Beard stumptown listicle church-key. YOLO flexitarian, mustache tote bag food truck viral. Franzen freegan af XOXO paleo retro, sriracha prism ennui. Cornhole bicycle rights, cardigan biodiesel artisan gentrify yuccie portland tofu flexitarian art party.</p>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>
